$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "custom.scss";

html {
  
}
/* Space out content a bit */
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif ;
}

.container-fluid {
    padding: 0;
   
  }

.main__txt {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  padding: 50px 0 20px 20px;

  }

 .main__txt > span {
    font-family: 'Raleway';
    font-size: 12px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {

}

/* Custom page header */

.img-responsive {
  width: 400px;
  /*height: 180px;*/
  margin-bottom: 30px;
}



.row-text {
  color: white;
  font-size: 12px ;
  font-family: 'Raleway';
  padding: 30px 30px 30px 30px;

  h6 {
    font-weight: bold;
  }
}

.row-blue {
  background-color: $brand-success; 
  height: 220px;
}

 .row-red {
  background-color: $brand-danger; 
  height: 220px;

}                     
              
.row-green {
  background-color: $brand-info; 
  height: 220px;
}




.btn__row__article {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  background: transparent;
  padding: 5px 40px 5px 40px;
  border: solid #fafafa 1px;
  margin: 10px 50px 20px 50px;


}

.btn__row__article:hover {
  background: $brand-primary;
}

  /* Make the masthead heading the same height as the navigation */


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

.container-fluid {
  padding: 0;   
}

.main__header {
  margin: 160px 100px 0 100px;
}

.main__txt {
  font-size: 120px;
}

 h4 {
  font-size: 27px;
  font-weight: 300;
}

.img-responsive {
 width: 500px;
 height: 300px;
 padding: 50px 0 0;
}

}

